<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blues.lupolupo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.LupolupoAPIApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.blues.lupolupo.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".views.activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.ComicActivity"
            android:label=""
            android:parentActivityName=".views.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blues.lupolupo.views.activities.MainActivity" />
        </activity>
        <activity
            android:name=".views.activities.EpisodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:parentActivityName=".views.activities.ComicActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blues.lupolupo.views.activities.ComicActivity" />
        </activity>
    </application>

</manifest>